<h1>Events calendar</h1>

<%= link_to 'Create event' %>

<!-- Remove the following image tag and add the markup to create a basic weekly calendar -->
<%= image_tag 'events_calendar', width: '100%' %>

